{% extends 'base.html' %}
{% load static %}

{% block title %}
Home page
{% endblock title %}

{%block extrahead %}
{{ super }}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{%endblock extrahead %}


{% block content %}
    <!-- Секция резюме -->
    {% if resume %}
    <section class="resume-section">
        <div class="resume-header">
            {% if resume.images.first %}
            <img src="{{ resume.images.first.image.url }}" alt="{{ resume.name }} {{ resume.surname }}" class="resume-photo">
            {% endif %}
            <div class="resume-info">
                <h1>{{ resume.name }} {{ resume.surname }}</h1>
                <div class="contact-info">
                    <p><strong>Email:</strong> {{ resume.email }}</p>
                    {% if resume.links %}
                    <p><strong>Website:</strong> <a href="{{ resume.links }}" target="_blank">{{ resume.links }}</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="resume-about">
            <h2>About Me</h2>
            <p>{{ resume.about }}</p>
        </div>
        
        <div class="resume-skills">
            <h2>Skills</h2>
            <div class="tags-list">
                {% for skill in resume.skills.all %}
                    <span class="tag">{{ skill.name }}</span>
                {% endfor %}
            </div>
        </div>
        
        {% if resume.links.all %}
        <div class="resume-links">
            <h2>Links</h2>
            <ul>
                {% for link in resume.links.all %}
                    <li><a href="{{ link.link }}" target="_blank">{{ link.link }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </section>
    {% endif %}


    <!-- Секция проектов -->
    <div class="filters">
        <input type="text" id="name-search" placeholder="Search by name...">
        <div class="tags-list">
            {% for tag in tags %}
                <button class="tag" data-tag="{{tag.name|lower}}">{{ tag.name }}</button>
            {% endfor %}
        </div>
    </div>
    <div class="projects-list">
        {% for project in projects|slice:":3" %}
        <div class="project" data-name="{{ project.title|lower }}" data-tag="{{ project.tags.all|join:', '|lower }}">
            <h2><a href="{% url 'project' project.id %}">{{ project.title }}</a></h2>
            <p>
                {{ project.description|truncatechars:50 }}
                <!-- {% if project.description|length > 50 %}
                    <a href="{% url 'project' project.id %}" class="read-more">Читать далее</a>
                {% endif %} -->
            </p>
            <div class="tags-list">
                {% for tag in project.tags.all %}
                    <button class="tag-static">{{ tag.name }}</button>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="project-links">
        {% if projects|length > 3 %}
            <a href="#" id="show-all" class="project-link">Показать все</a>
        {% endif %}
        <a href="/projects" class="project-link">Все проекты</a>
    </div>
    
    <div id="hidden-projects" style="display: none;">
        {% for project in projects|slice:"3:" %}
        <div class="project" data-name="{{ project.title|lower }}" data-tag="{{ project.tags.all|join:', '|lower }}">
            <h2><a href="{% url 'project' project.id %}">{{ project.title }}</a></h2>
            <p>{{ project.description }}</p>
            <div class="tags-list">
                {% for tag in project.tags.all %}
                    <button class="tag-static">{{ tag.name }}</button>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}

{% block scripts %}
    {{ super }}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock scripts %}